#notification,
.message {
    background: beige;
    padding: 0.5em 0.75em;
    border: 2px solid #f2f2f2;
}
#notification:before {
    content: "!";
    font-size: 4em;
    margin-right: 5px;
    color: green;
}

.message {
    font-family: Georgia;
    font-size: 3em;
    line-height: 2;
    font-weight: 600;
}